<h1>Edit a Song</h1>
<%= form_with( model: @song ) do | form | %>
     <div>
        <label>Name</label>
        <%= form.text_field(:name) %>
    </div>
    <div>
        <label>Album</label>
        <%= form.collection_select(:album_id, @albums, :id, :name) %>
    </div>
   <%= form.submit() %>
<% end %>